{% extends 'base.html' %}

{% block content %}

<h1>blog posts!</h1>

<hr>
{% for post in posts %}

<h2><a href="/blog/{{ post.key().id() }}">{{ post.title }}</a></h2>
<p>{{ post.body }}</p>
<!--*Done*          TO-DO add author w/ link to author's blog page -->
<a href="/blog/{{ post.author }}">{{ post.author }}&apos;s blog</a>
<hr>
{% endfor %}

{% if prev_page %}
<a href="/blog{{ userpath }}?page={{ prev_page }}">&lt; prev</a>
{% endif %}

{% if prev_page and next_page %}
&nbsp;&nbsp; | &nbsp;&nbsp;
{% endif %}

{% if next_page %}
<a href="/blog{{ userpath }}?page={{ next_page }}">next &gt;</a>
{% endif %}

{% endblock %}
