{% extends 'base.html' %}

{% block content %}

<h1>Login</h1>

<form method="post">
  <div>
    <label>
        <div>username</div>
        <input type="text" name="username" value="{{username}}">
    </label>
    <label>
        <div>password</div>
        <input type="password" name="password" value="{{password}}">
    </label>
  </div>

  <div>
    <input type="submit">  <span class="error">{{ error }}</span>
  </div>
  
  <div>
    <p><a href="/signup">Click Here</a> if you need an account!<p>
  </div>
</form>

{% endblock %}
