{% extends 'base.html' %}

{% block content %}

<h1>new post</h1><span class="logged_in">logged in as:  <strong><a href="/blog/{{ author }}">{{ author }}</a></strong></span>
<hr>

<form method="post">
    <label>
        <div>title</div>
        <input type="text" name="title" value="{{ title }}">
    </label>
    <label>
        <div>post</div>
        <textarea name="body">{{ body }}</textarea>
    </label>

    <input type="submit"><span class="error">{{ error }}</span>

</form>

{% endblock %}
