{% extends 'base.html' %}

{% block content %}


<h1>Signup</h1>
<hr>

<form method="post">
  <label for="username">
      <div>username</div>
      <input name="username" type="text" value="{{ username }}">
      <span class="error">{{ errors.username_error }}</span>
  </label>
  <label for="password">
      <div>password</div>
      <input name="password" type="password">
      <span class="error">{{ errors.password_error }}</span>
  </label>
  <label for="verify">
      <div>confirm password</div>
      <input name="verify" type="password">
      <span class="error">{{ errors.verify_error }}</span>
  </label>
  <label for="email">
      <div>email (optional)</div>
      <input name="email" type="email" value="{{ email }}">
      <span class="error">{{ errors.email_error }}</span>
  </label>

  <input type="submit"><span class="error">{{ error }}</span>
</form>

{% endblock %}
